/* Search bar */

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2rem;
   box-shadow: 0px 6px 11px 0px rgba(184, 184, 184, 0.8); 
}

.Logo {
    width: 150px;
}

.searchBar {
    width: 200px;
    background: #E4E4E4;
    border: none;
    height: 20px;
}

.loginBtn {
width: 100px;
border-radius: 2rem;
border: none;
height: 30px;
background: #E4E4E4;
cursor: pointer;
}
.loginBtn a {
    text-decoration: none;
    color: #000000;
}

.login {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  z-index: 10;
  position: fixed;
  width: 30rem;
  top: 20vh;
  left: calc(50% - 15rem);
}

.signup {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  z-index: 10;
  position: fixed;
  width: 30rem;
  top: 20vh;
  left: calc(50% - 15rem);
  height: 220px;
}
.backdrop {
    position: fixed;
    z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.links {
  text-decoration: underline;
  color: #0097FC;
  font-weight: bold;
}

.policy {
  text-align: left;
  font-size: 0.9em;
}

.usernameBar {
  border-radius: 0.7rem;
  height: 20px;
  width: 10rem;
  font-weight: bold;
  border: none;
  background: #E4E4E4;
}
.passwordBar {
  border-radius: 0.7rem;
  height: 20px;
  width: 10rem;
  font-weight: bold;
  margin-top: 1rem;
  border: none;
  background: #E4E4E4;
}

/* Subreddit */

.subreddit {
  float: right;
  width: 15rem;
  box-shadow: 0px 6px 11px 0px rgba(184, 184, 184, 0.8);
  margin-top: 2%;
}
.subreddit-title {
  text-align: left;
  padding-left: 1.5rem;
}
.subreddit-list {
  display: flex;
  flex-direction: column;
}
.subreddit-links {
  margin: 10px 0;
  height: 50px;
  text-decoration: none;
  padding: 0 1.4rem;
  color: #000000
}
.subreddit-links:hover{
  background: #F1F1F1;
}